@{
    ViewBag.Title = "博客";
}
<h3>@ViewBag.Message</h3>
<ol class="breadcrumb">
    <li><a href="/Home">首页</a></li>
    <li><a href="/Home/Blog">博客</a></li>
    <li class="active">@ViewBag.ActicleTypeModels.Name</li>
</ol>
<table class="table">
    <thead>
        <tr>
            <th scope="col">标题</th>
            <th scope="col">点击率</th>
            <th scope="col">创建日期</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var articlesModels in ViewBag.PageResultModels.List)
        {
            <tr>
                <td><a target="_blank" href="/Home/Detail/@articlesModels.Id">@articlesModels.Title</a></td>
                <td>@articlesModels.Ctr</td>
                <td>@articlesModels.CreateDate</td>
            </tr>
        }
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="/Home/Blog/@ViewBag.PageResultModels.First">首页</a></li>
        <li class="page-item"><a class="page-link" href="/Home/Blog/@ViewBag.PageResultModels.Previous">上一页</a></li>
        @foreach (var pageModels in ViewBag.PageResultModels.NumberList)
        {
            if (pageModels.Number == ViewBag.PageResultModels.CurrentPage)
            {
                <li class="page-item active"><a class="page-link" href="/Home/Blog/@pageModels.Uri">@pageModels.Number</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" href="/Home/Blog/@pageModels.Uri">@pageModels.Number</a></li>
            }

        }
        <li class="page-item"><a class="page-link" href="/Home/Blog/@ViewBag.PageResultModels.Next">下一页</a></li>
        <li class="page-item"><a class="page-link" href="/Home/Blog/@ViewBag.PageResultModels.Last">末页</a></li>
    </ul>
</nav>